@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: lightgray;
}

#apps {
    width: 5vw;
    height: 95vh;
    background-color: transparent;
    position: fixed;
    top: 2.5vh;
    left: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1vw;
    padding-top: 0.5vw;

    button {
        background-color: white;
    }

    * {
        height: 4vw;
        width: 4vw;
        border: none;
        border-radius: 1vw;
        font-size: 1.6vw;
        border-top: 1px solid transparent;
        i {
            pointer-events: none;
        }
    }
    .selected {
        background-color: black;
        i {
            color: white;
        }
    }


    #drop-here {
        width: 4vw;
        height: 0.5vw;
        background: black;
        position: fixed;
    }
}


#tooltip {
    position: fixed;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    font-family: calibri;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    background-color: white;
    visibility: hidden;
}

.page {
    position: fixed;
    height: 85vh;
    width: 91vw;
    top: 2vh;
    left: 7vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    animation-name: up-intro;
    animation-duration: 300ms;
    animation-timing-function: linear;
    overflow: auto;
    overflow-x: auto;

    h1 {
        font-size: 3vw;
        padding: 1vw;
        font-family: calibri;
    }
    h2 {
        font-size: 2vw;
        padding: 1vw;
        font-family: calibri;
    }
    .card {
        background: linear-gradient(45deg, lightcoral, lightblue);
        width: -moz-fit-content;
        width: fit-content;
        padding: 1vw;
        margin: 1vw;
        border-radius: 1vw;

        h2 {
            font-size: 2vw;
            font-family: calibri;
            margin-bottom: 0.5vw;
        }
        p {
            font-size: 1vw;
            font-family: calibri;
        }

        div.activity {
            width: 100%;
            margin: 0.5vw 0;
            font-family: calibri;
        }

        button.open {
            margin-top: 0.5vw;
            width: 50%;
            padding: 0.5vw 1vw;
            background-color: white;
            border: none;
            border-radius: 0.5vw;
            margin-left: auto;
            align-items: center;
        }

        
    }
    .notification {
        background: white;
        box-shadow: 0px 0px 5px lightgray;

        .lists {
            height: 10vw;
            width: 100%;
            overflow: auto;
            overflow-x: hidden;
        }

        .activity {
            padding: 0.5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1vw;
            font-size: 1vw;
        }

        .activity:hover {
            border-radius: 0.5vw;
            box-shadow: 0px 1px 5px lightgray;
            border-bottom-color: transparent;
            background: black;
            color: white;
        }

        button.open {
            background-color: rgb(65, 65, 65);
            color: white;
            font-size: 1vw;
        }
        button.open:hover {
            background-color: rgb(29, 29, 29);
        }
    }

    .report {
        background: white;
        box-shadow: 0px 0px 5px lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 10vw;
        }
        button.start {
            border: none;
            padding: 0.5vw 1vw;
            color: white;
            border-radius: 0.5vw;
            font-size: 1vw;
            display: flex;
            column-gap: 0.5vw;
        }

        button.start {
            background-color: rgb(65, 65, 65);
            color: white;
        }
        button.start:hover {
            background-color: rgb(29, 29, 29);
        }
    }

    .videos {
        background: transparent;
        display: flex;

        .workout-video {
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            iframe {
                width: 100%;
            }
            .time {
                margin: 0.5vw;
                padding: 0.5vw;
                background-color: lightgray;
                border-radius: 0.5vw;
                font-family: sans-serif;
                width: fit-content;
            }
        }
    }

    .to-do-lists {
        padding: 1vw;
        margin: 1vw;
        margin-left: 2vw;
        label {
            font-size: 1.5vw;
            font-family: calibri;
            display: flex;
            align-items: center;
            justify-content: start;
            column-gap: 1vw;
        }
    }
    .to-do-input {
        margin-left: 1vw;
        padding: 1vw;
        border: none;
        border-radius: 1vw;
        box-shadow: 0px 1px 5px lightgray;
        font-size: 1.25vw;
        width: 91vw;
        position: fixed;
        bottom: 5vh;
        left: 6vw;
    }
}



@keyframes up-intro {
    0% {
        top: 10vh;
        opacity: 0;
    }
}
